@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	margin: 0; padding: 0; border: 0; box-sizing: border-box;
}

body {
	background-image: url(../images/dark-road.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#container {
  width: 80%;
  min-height: 720px;
  min-width: 1000px;
  margin: 25px auto;
}

#header {
  min-height: 150px;
  border: 10px double black;
	box-shadow: 2px 2px #888888;
	background-color: rgb(255, 255, 255, 0.9);
}

#mainlogo {
  width: 60%;
  height: 150px;
  margin: 10px auto;
  text-align: center;
}

#mainlogo a {
  display: block;
  width: 50%;
  text-align: right;
  padding-right: 50px;
  float: left;
}

#mainlogo img {
  height: 150px;
}

#mainlogo h1 {
  float: left;
  width: 50%;
  text-align: left;
  padding-top: 50px;
  font-family: Raleway;
}

#headernav {
  height: 50px;
  width: 80%;
  margin: 0px auto;
	margin-bottom: 25px;
}

#headernav ul {
  list-style-type: none;
}

#headernav li {
  float: left;
  width: 20%;
}

#headernav ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-family: Raleway;
  font-weight: bold;
  background-color: black;
  color: white;
}

#headernav ul li a:hover {
	opacity: 0.8;
}

#headline {
  margin: 25px auto;
  text-align: center;
  height: 100px;
  padding-top: 20px;
  border: 10px double black;
	box-shadow: 2px 2px #888888;
	background-color: rgb(255, 255, 255, 0.9);
	font-family: Raleway;
}

#text {
  margin: 25px auto;
  text-align: center;
  min-height: 100px;
  border: 10px double black;
  font-family: Raleway;
  padding: 25px 10px;
	box-shadow: 2px 2px #888888;
	background-color: rgb(255, 255, 255, 0.9);
}

#board {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  min-height: 640px;
  border: 10px double black;
  margin: 25px auto;
  padding: 25px;
	box-shadow: 2px 2px #888888;
	background-color: rgb(255, 255, 255, 0.9);
}

#board > div {
  background-color: black;
  width: 25%;
  min-width: 325px;
  height: 250px;
  margin: 10px;
  border-radius: 10px;
}

.image {
  display: block;
  width: 50%;
  height: 250px;
  padding: 30px;
  float: left;
}

.image:hover {
	opacity: 0.7;
}

.image img {
  border-radius: 50%;
  border: 5px solid white;
}

.name {
  margin-top: 50px;
  margin-bottom: 5px;
  width: 50%;
  display: block;
  text-align: center;
  float: left;
  color: white;
  font-family: Raleway;
  text-decoration: none;
}

.name:hover {
	text-decoration: underline;
}

.members p {
  padding: 10px;
  color: white;
  text-align: center;
}

.email {
  display: block;
  text-align: center;
  font-family: Raleway;
  font-size: .8em;
  font-style: italic;
  color: white;
}

.email:hover {
  color: darkgray;
}
