@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	margin: 0; padding: 0; border: 0; box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	background-color: #1a1a1a;
	background-image: url(../images/code_background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.container {
  width: 80%;
  min-width: 1000px;
	min-height: 750px;
  margin: 0px auto;
	margin-top: 50px;
  padding: 25px;
  border-radius: 10px;
  background-color: rgb(25, 25, 25, 0.9);
	position: relative;
}

#logoleft {
	position: absolute;
	left: 25px;
	top: 25px;
}

#logoleft img {
	height: 175px;
	border: 4px double black;
	border-radius: 30px 15px 30px 15px;
}

#logoright {
	position: absolute;
	right: 25px;
	top: 25px;
}

#logoright img {
	height: 175px;
	border: 4px double black;
	border-radius: 15px 30px 15px 30px;
}

#logoleft:hover, #logoright:hover {
	opacity: 0.8;
}

.header {
  width: 50%;
  min-width: 480px;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  font-family: Raleway;
  text-align: center;
  background-color: #d9edf7;
	border: 2px solid #bce8f1;
  line-height: 1.5;
	margin-bottom: 100px;
}

.assignments {
	float: left;
}

.assignments li {
	list-style-type: none;
}

.assignments a {
  display: block;
  margin: 10px auto;
  width: 225px;
  height:  30px;
  line-height: 26px;
  border: 2px solid white;
  text-decoration: none;
	text-align: center;
  background-color: black;
  font-weight: bold;
  color: white;
  opacity: 0.9;
}

.assignments a:hover {
	background-color: white;
	border: 2px solid black;
	color: black;
}

.desc {
  width: 70%;
  min-width: 480px;
  margin: 25px auto;
	color: white;
  font-family: Raleway;
  text-align: center;
	float: left;
}

.desc h2, p {
	padding: 10px 50px 10px 50px;
}

.desc p {
	font-size: 1.2em;
}

.flex {
	clear: both;
	display: flex;
	flex-flow: wrap;
	justify-content: space-evenly;
	padding-top: 25px;
}

.examples img {
	border: 5px solid white;
	border-radius: 15px;
}

.examples img:hover {
	opacity: 0.7;
}

#formflex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 650px;
	width: 50%;
	margin: 75px auto;
	border: 5px solid white;
	padding: 25px;
	border-radius: 15px;
	background-color: black;
}


#form h1 {
	color: #005c99;
	margin-bottom: 1em;
	line-height: 1em;
	font-family: Raleway;
}

#form label {
	font-weight: bold;
	color: white;
	margin-right: 25px;
	font-family: Raleway;
}

#form div {
	float: right;
	clear: both;
	margin-top: 25px;
}

#form #first, #last, #email, #comment {
	border-radius: 5px;
	height: 40px;
	width: 350px;
}

#commentbox label {
	margin-right: 0px;
}

#commentbox label textarea {
	vertical-align: middle;
	margin-left: 25px;
}

input {
	padding-left: 10px;
	font-family: Raleway;
}

textarea {
	resize: none;
	font-family: Raleway;
	padding-left: 10px;
	padding-top: 10px;
}

#newsradio {
	color: white;
	font-family: Raleway;
	margin-right: 50px;
}

#continuediv {
	height: 50px;
	margin-right: 175px;
}

#continue {
	background: #005c99;
	color: white;
	font-weight: bold;
	font-size: 110%;
	border: none;
	width: 175px;
	height: 40px;
	border-radius: 5px;
}

#continue:hover {
	opacity: 0.7;
}

.footer {
	width: 80%;
	margin: 25px auto;
	height: 75px;
	background-color: rgb(25, 25, 25, 0.9);
	border-radius: 15px;
}

.footermenu ul li {
	float: left;
	line-height: 75px;
	width: 25%;
	list-style: none;
	text-align: center;
}

.footermenu ul li:nth-child(1) {
	border-right: 2px solid white;
}

.footermenu ul li:nth-child(2) {
	border-right: 2px solid white;
}

.footermenu ul li:nth-child(3) {
	border-right: 2px solid white;
}

.footermenu ul li a {
	display: block;
	text-decoration: none;
	font-family: Raleway;
	font-weight: bold;
	font-size: 120%;
	color: white;
}

.footermenu ul li a:hover {
	line-height: 71px;
	background-color: rgb(25, 25, 25, 0.3);
	border: 2px solid white;
}
