@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	margin: 0; padding: 0; border: 0; box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	background-color: #1a1a1a;
	background-image: url(../images/code_background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.container {
  width: 80%;
	min-height: 250px;
  margin: 0px auto;
	margin-top: 50px;
  padding: 25px;
  border-radius: 10px;
  background-color: rgb(25, 25, 25, 0.9);
	position: relative;
	border: 5px solid white;
	box-shadow: 1px 2px 4px #888888;
}

#logoleft {
	position: absolute;
	left: 4%;
	top: 2%;
}

#logoleft img {
	width: 125px;
	border: 4px double black;
	border-radius: 30px 15px 30px 15px;
}

#logoright {
	position: absolute;
	right: 4%;
	top: 2%;
}

#logoright img {
	width: 125px;
	border: 4px double black;
	border-radius: 15px 30px 15px 30px;
}

#logoleft:hover, #logoright:hover {
	opacity: 0.8;
}

.header {
  width: 50%;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  font-family: Raleway;
  text-align: center;
  background-color: #d9edf7;
	border: 2px solid #bce8f1;
  line-height: 1.5;
	margin-bottom: 50px;
}

.flex1 {
	width: 90%;
	margin: auto;
	display: flex;
	flex-flow: nowrap;
	align-items: center;
	justify-content: space-around;
	border-bottom: 5px double white;
	border-top: 5px double white;
	padding-bottom: 25px;
	padding-top: 25px;
}

.assignments {
	width: 25%;
	min-width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.assignments ul {
	width: 100%;
	min-width: 200px;
}

.assignments li {
	list-style-type: none;
	width: 80%;
	min-width: 200px;
	margin: 0px auto;
}

.assignments a {
  display: block;
  margin: 10px auto;
  min-width: 90%;
  height:  30px;
  line-height: 26px;
  border: 2px solid white;
  text-decoration: none;
	text-align: center;
  background-color: black;
  font-weight: bold;
  color: white;
  opacity: 0.9;
	transition: color 500ms linear;
}

.assignments a:hover {
	background-color: white;
	border: 2px solid black;
	color: black;
}

.desc {
  width: 50%;
	color: white;
  font-family: Raleway;
  text-align: center;
}

.desc h2, p {
	padding: 10px 50px 10px 50px;
}

.desc p {
	font-size: 1.2em;
}

.socialdiv {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social {
	width: 70px;
	background-color: white;
	border-radius: 10px;
	background-color: white;
}

.social img {
	width: 50px;
	height: 50px;
	margin: 10px;
	transition: opacity 200ms linear;
}

.social img:hover {
	opacity: 0.5;
}

.flex2 {
	width: 90%;
	margin: auto;
	clear: both;
	display: flex;
	flex-flow: wrap;
	justify-content: space-evenly;
	margin-top: 50px;
}

#webforms {
	width: 70%;
	margin: 100px auto;
	display: flex;
	flex-flow: wrap;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

#webforms h2 {
	color: white;
	margin: 10px auto;
	text-align: center;
}

.examples img {
	border: 5px solid white;
	border-radius: 15px;
	height: 175px;
	margin-bottom: 25px;
	margin: 0px 10px 25px 10px;
}

.examples img:hover {
	opacity: 0.7;
}

#formflex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 650px;
	width: 50%;
	margin: 25px auto;
	border: 5px solid white;
	padding: 25px;
	border-radius: 15px;
	background-color: black;
}


#form h1 {
	color: #005c99;
	margin-bottom: 1em;
	line-height: 1em;
	font-family: Raleway;
}

#form label {
	font-weight: bold;
	color: white;
	margin-right: 25px;
	font-family: Raleway;
}

#form div {
	float: right;
	clear: both;
	margin-top: 25px;
}

#form #first, #last, #email, #comment {
	border-radius: 5px;
	height: 40px;
	width: 350px;
}

#commentbox label {
	margin-right: 0px;
}

#commentbox label textarea {
	vertical-align: middle;
	margin-left: 25px;
}

input {
	padding-left: 10px;
	font-family: Raleway;
}

textarea {
	resize: none;
	font-family: Raleway;
	padding-left: 10px;
	padding-top: 10px;
}

#newsradio {
	color: white;
	font-family: Raleway;
	margin-right: 50px;
}

#continuediv {
	height: 50px;
	margin-right: 175px;
}

#continue {
	background: #005c99;
	color: white;
	font-weight: bold;
	font-size: 110%;
	border: none;
	width: 175px;
	height: 40px;
	border-radius: 5px;
}

#continue:hover {
	opacity: 0.7;
}

.footer {
	width: 80%;
	margin: 25px auto;
	height: 75px;
	background-color: rgb(25, 25, 25, 0.9);
	border-radius: 15px;
	border: 5px solid white;
	box-sizing: content-box;
	box-shadow: 1px 2px 4px #888888;
}

.footermenu ul li {
	float: left;
	line-height: 75px;
	width: 25%;
	list-style: none;
	text-align: center;
}

.footermenu ul li:nth-child(1) {
	border-right: 2px solid white;
}

.footermenu ul li:nth-child(2) {
	border-right: 2px solid white;
}

.footermenu ul li:nth-child(3) {
	border-right: 2px solid white;
}

.footermenu ul li a {
	display: block;
	text-decoration: none;
	font-family: Raleway;
	font-weight: bold;
	font-size: 120%;
	color: white;
	transition: border 200ms linear;
}

.footermenu ul li a:hover {
	line-height: 65px;
	background-color: black;
	border: 5px double lightblue;
	border-radius: 2px;
}

/* Build out resume div */

#resumeinfo {
	text-align: center;
	margin: 25px;
}

.resume {
	width: 70%;
	margin: 50px auto;
	color: white;
	border: 1px solid white;
	border-radius: 15px;
	background-color: black;
}

.resume h1,h2 {
	text-align: center;
	margin: 25px;
}

.resume h2 {
	padding-bottom: 8px;
	border-bottom: 5px double white;
	width: 90%;
	margin: 25px auto;
}

.resume h3 {
	margin-left: 15%;
	margin-top: 15px;
}

.resume h4 {
	margin-left: 10%;
	margin-top: 25px;
}

.resume ul {
	margin-left: 20%;
	margin-top: 10px;
}

.resume p {
	margin-left: 15%;
	margin-right: 10%;
}

#references {
	margin-top: 50px;
	font-size: 150%;
}

#downloadbutton a {
	position: absolute;
	top: 13%;
	left: 4%;
	display: block;
	width: 150px;
	height: 40px;
	line-height: 40px;
	color: white;
	background-color: #005c99;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	border-radius: 5px;
}

#downloadbutton a:hover {
	opacity: 0.7;
}

/* Rules for when the page shrinks to 800px */

@media screen and (max-width: 950px) {

	.container {width: 90%;}
	.footer {width: 90%;}
	.desc {display: none;}
	.footermenu ul li a {font-size: 90%;}

}

@media screen and (max-width: 640px) {

	.container {width: 95%;}
	.header {width: 90%; font-size: 80%}
	#logoleft, #logoright {display: none;}
	.footer {width: 95%;}
	.desc {display: none;}
	.footermenu ul li a {font-size: 70%;}

}

@media screen and (max-width: 450px) {

	.header {width: 95%; font-size: 70%;}
	.assignments li {min-width: 90px;}
	.assignments a {font-size: 70%;}
	.socialdiv {margin-right: 10px;}
	.social img {margin: 5px;}
	.examples img {height: 125px;}

}
